:root{
    --black: #000;
    --white: #fff;
    --bg: #f0f0f0;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--bg);
    overflow-x: hidden;
}
button:hover{
    cursor: pointer;
}
.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--black);
    color: var(--white);
}
.nav{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subnav{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first{
    justify-content: space-evenly;
}
.second{
    justify-content: space-evenly;
}
.nav-button{
    background: none;
    border: none;
    width: 80%;
    height: fit-content;
}
.nav-text{
    color: var(--white);
    font-size: 1rem;
}
.rotateLeft{
    transform: rotate(-90deg);
}
.nav-icon{
    display: flex;
    justify-content: center;
}
.img-round{
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}
.main{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.name{
    font-size: 5vw;
    border-right: 2px solid var(--white);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation:  typewriter 6s steps(40) 1s 1 normal both,
                blinkTextCursor 1s ;
    animation-iteration-count: infinite;
}
@keyframes typewriter{
  0%    {width: 0;}
  50%   {width: 8.5em;}
  100%  {width: 8.5em;}
}
@keyframes blinkTextCursor{
  0%    {border-right-color: var(--white);}
  50%   {border-right-color: var(--white);}
  51%   {border-right-color: var(--black);}
  100%  {border-right-color: var(--black);}
}
.job{
    font-size: 2.5vw;
}
.main-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.scroll-down-button{
    border: none;
    background: none;
    width: 5%;
    animation: scrollDown 1s ease-in 0s infinite alternate;
}
@keyframes scrollDown{
    0% {transform: translate(0%,-50%);}
    100% {transform: translate(0%,0%);}
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 5rem;
    margin: 1em 0;
}
.skills-card-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.skills-card{
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: var(--white);
    font-size: 1.25rem;
}
.portfolio-card-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.portfolio-card{
    height: 300px;
    border-radius: 25px;
    background-size: cover;
}
.portfolio-card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}



footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    margin-top: 100px;
}
.footer{
    margin: 1rem 0;
}
.footer-link{
    width: 20%;
    display: flex;
    justify-content: space-between;
}




/*** Mobile ***/
@media only screen and (max-width: 426px){
    .nav{
        display: none;
    }
    .name{
        font-size: 8vw;
    }
    .job{
        font-size: 5vw;
    }
    .img-round{
        max-width: 50%;
    }
    .skills-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .portfolio-card{
        height: 200px;
    }
}



/*** Tablet ***/
@media only screen and (min-width: 426px) and (max-width: 768px){
    .img-round{
        max-width: 30%;
    }
    .skills-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-card-container{
        grid-template-columns: repeat(1, 1fr);
    }
}